<!DOCTYPE html>
html(lang="nl", prefix="og: http://ogp.me/ns#")
    head(prefix="ns: http://ogp.me/ns#")
        title
            = "Iedereen lag in een deuk"
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        meta(name="theme-color", content="#58a9e2")
        meta(name="msapplication-navbutton-color", content="#58a9e2")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#58a9e2")
        meta(name="description", content="Nou, iedereen lag in een deuk")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="manifest", href="/about/manifest.json")
        link(rel="icon", href="/favicon.ico", type="images/x-icon")

        meta(property="og:title", content="Iedereen lag in een deuk")
        meta(property="og:image", content="https://www.iedereenlagineendeuk.nl/about/images/192.png")
        meta(property="og:image:secure", content="https://www.iedereenlagineendeuk.nl/about/images/192.png")
        meta(property="og:image:type", content="image/png")
        meta(property="og:image:width", content="128")
        meta(property="og:image:height", content="128")
        meta(property="og:url", content="https://www.iedereenlagineendeuk.nl")
        meta(property="og:locale", content="nl-NL")
        meta(property="og:locale:alternate", content="nl-BE")
        meta(property="og:type", content="video.other")
        meta(property="og:video", content="https://www.iedereenlagineendeuk.nl/resources/vid.mp4")
        meta(property="og:video:secure", content="https://www.iedereenlagineendeuk.nl/resources/vid.mp4")
        meta(property="og:video:type", content="video/mp4")
        meta(property="og:video:width", content="1280")
        meta(property="og:video:height", content="720")
        meta(property="og:video:duration", content="1")

        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content="Iedereen lag in een deuk")
        meta(name="twitter:description", content="Ik had helemaal geen bingo")
        meta(name="twitter:image", content="https://www.iedereenlagineendeuk.nl/about/images/192.png")

        if offline == true
            style
                include './../../../client/public/css/main_cached.css
        else
            style
                include './../../../client/public/css/main.css

    body
        div#networkStatus(class='hidden')
            svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                path(d="M0 0h24v24h-24z", fill="none")
                path(d="M23.64 7c-.45-.34-4.93-4-11.64-4-1.5 0-2.89.19-4.15.48l10.33 10.32 5.46-6.8zm-6.6 8.22l-13.77-13.78-1.27 1.28 2.05 2.06c-2.14.98-3.46 2.04-3.69 2.22l11.63 14.49.01.01.01-.01 3.9-4.86 3.32 3.32 1.27-1.27-3.46-3.46z")
            
        .horizontallyCentered
            main.content
                .videoContainer
                    .title
                        = "Nou, iedereen lag in een deuk"
                    .horizontallyCentered.replayVideoCenterer
                        .replayVideoContainer(tabIndex="0")
                            .horizontallyCentered
                                svg#playVideo(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 24 24")
                                    path(d="M8 5v14l11-7z")
                                    path(d="M0 0h24v24H0z", fill="none")
                                svg#replayVideo(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 24 24")
                                    path(d="M0 0h24v24H0z", fill="none")
                                    path(d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z")
                    video#video(autoplay)
                        source(src="/resources/vid.mp4", type="video/mp4")
                        = "Je browser is te kut man"

        footer.footer
            .githubLink
                a(href="https://github.com/SanderRonde/iedereenlagineendeuk", target="_blank", rel="noopener")
                    = "source code"
                            
    script(src='/js/main.js', async)