body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	background-color: #58a9e2;
	color: white;
}

.horizontallyCentered {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#networkStatus {
	position: fixed;
	top: 10px;
	right: 10px;
	fill: white;
	width: 50px;
	height: 50px;
}

#networkStatus.hidden {
	display: none;
}

a {
	position: relative;
	text-decoration: underline;
	color: white;
}

a:focus {
	outline: none;
}

a:focus:before {
	background-color: rgba(0,0,0,.1);
	border-radius: 2px;
	bottom: -4px;
	content: ' ';
	left: -4px;
	margin: auto;
	padding: 4px;
	position: absolute;
	right: -4px;
	top: -4px;
}

.title {
	font-size: 6.5vw;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 600px) {
	.title {
		font-size: 250%;
	}
}

#video {
	width: 90vw;
	max-height: 80vh;
}

.footer {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 30px;
}


@media (min-width: 600px) and (max-aspect-ratio: 4/3) {
	.videoContainer {
		margin-top: calc((100vh - 62.5vw - 50px) / 2);
	}
}

@media (max-width: 600px) and (min-height: 450px) {
	.videoContainer {
		margin-top: calc((100vh - 266px) / 2);
	}
}

@media (min-aspect-ratio: 4/3) {
	.footer {
		position: relative;
		bottom: 0;
	}
}

.replayVideoContainer {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position: absolute;	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: rgba(0, 0, 0, 0.35);
	-webkit-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;
	pointer-events: none;
	z-index: 10;
}

.replayVideoContainer.visible {
	pointer-events: all;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	cursor: pointer;
}

#replayVideo, #playVideo {
	fill: white;
	width: 15vm;
	width: 15vmin;
	height: 15vm;
	height: 15vmin;
}

.replayVideoContainer #playVideo {
	display: none;
}

.replayVideoContainer.autoplayDisabled #playVideo {
	display: block;
}

.replayVideoContainer.autoplayDisabled #replayVideo {
	display: none;
}

.replayVideoContainer.visible:focus {
	outline: 1px solid orange;
}

.replayVideoCenterer {
	position: absolute;
}